html {
  scroll-behavior: smooth;
}

.flow > * + * {
  margin-top: 0.625rem;
}

.app-container {
  display: grid;
  grid-template-columns: 160px 160px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "nav sub-nav main";
}

.main-nav {
  grid-area: nav;
}

.main-content {
  grid-area: main;
}

@tailwind base;
@tailwind utilities;
@tailwind components;
